/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
}

.header-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f5f5f5;
    padding: 5px 15px;
    -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.75);
}

.offer {
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 0.4s linear;
    -moz-transition: box-shadow 0.4s linear;
    -ms-transition: box-shadow 0.4s linear;
    -o-transition: box-shadow 0.4s linear;
    transition: box-shadow 0.4s linear;
    cursor: pointer;
}

.offer:hover {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.offer-wrap {
    background: #f2f2f2;
    position: relative;
}

.offer .label {
    position: absolute;
    left: 5px;
    top: 5px;
}

.offer .btn-group {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.offer:hover .btn-group {
    display: inline-block;
}

.offer .badge {
    font-weight: 400;
}

.padding {
    padding: 5px 10px;
    box-shadow: inset 0 10px 4px -8px rgba(0, 0, 0, 0.2)
}

#main .offer {
    margin-bottom: 25px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

header {

    position: relative;
    width: 100%;
    /* background: url(../img/header.png) top center no-repeat #f5f5f5; */
}

header.inner {

    position: relative;
    width: 100%;
    background-position: center !important;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.fostrap-logo {
    width: 100px;
    margin-bottom: 15px
}

h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
}

@media (min-width: 450px) {
    h1.heading {
        font-size: 3.55em;
    }
}

@media (min-width: 760px) {
    h1.heading {
        font-size: 3.05em;
    }
}

@media (min-width: 900px) {
    h1.heading {
        font-size: 3.25em;
        margin: 0 0 0.3em;
    }
}

.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.card:hover {}

.img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
}

.card-title a {
    color: #000;
    text-decoration: none !important;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase
}

.Section {
    margin: 80px;
}

.Workshops {
    margin-bottom: 80px;
}

.mcard {
    overflow: hidden;
    padding: 40px 20px;
}

.square-card {
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin: 12px;
    max-width: 348px;
    height: 22.5rem;
    border-radius: 6px;
    background: #fff;
    text-align: left;
    position: relative;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    border: none;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 6px;
}

.square-card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    border: none;
}


/* square-card */

.square-card a {
    width: 100%;
    height: 100%;
    display: block;
    color: #525c65;
    border-bottom: none;
    text-decoration: none;
    transition: color 0.3s ease;
    max-width: 348px;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin-left: 2.5rem;
    position: relative;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 0.375rem;
}

.demo-card-square.mdl-card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.demo-card-square>.mdl-card__title {
    color: #fff;
    background-color: #13a3a5;
    background-image: url(../img/css.png);
}

.demo-card-square>.mdl-card__accent {
    background-color: #13a3a5;
    background-image: url(../img/html5.png);
}
.demo-card-square>.mdl-card--js {
    color: #fff;
    background-color: #13a3a5;
    background-image: url(../img/js.png);
}
R  
.square-card:hover {
    color: #24292d;
}


/* 	card-header */

.card-header {
    width: 348px;
    background: url(https://d125fmws0bore1.cloudfront.net/assets/shared/nd-cards/nd889-59ea30214b9d345bfb860c0d67dda883bdfa30301511e00af649e71dd187428c.jpg) no-repeat top left;
    height: 150px;
    background-size: cover !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


/* card-header_overlay */

.card-header_overlay {
    background-color: rgba(2, 179, 228, 0.8);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 10.75rem;
    width: 100%;
    z-index: 4000;
}


/* pill */

.pill {
    color: #02b3e4;
    position: relative;
    top: 8px;
    left: 12px;
    background-color: #fff;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    height: 1.5rem;
    padding: 2px 6px;
    border-radius: 2px;
    letter-spacing: 2px;
    z-index: 5000;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 4px 6px 8px 0px rgba(46, 61, 73, 0.2);
}


/* card-title */

.card-title {
    padding: 10px 0px;
    position: relative;
}


/* card-title > h4 */

.card-title>h4 {
    /* 	margin-bottom: 0; */
    font-size: 1.5rem;
    line-height: 2.25rem;
}


/* card-affiliates */

.card-affiliates {
    padding: 24px 32px;
    width: 100%;
    position: relative;
}

.card-affiliates ul {
    height: 26px;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    margin-top: 0;
}

.card-affiliates ul li {
    float: left;
    margin: 0 20px 0 0;
}

.card-affiliates ul li img {
    height: 36px;
    margin: -7px 0 0;
}

.divmargin {
    height: 25px;
    margin-top: 50px;
}

.workshop_btn_div{
    margin-left: 40px;
}

.btn-workshop{
    color: #ffffff;
    background-color: #0cacaf !important;
    width: 100px !important;
    border-color: transparent;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    transition: box-shadow .3s;
    margin-top: 7px;
}
button:hover, .button:hover{
    background-color: #0a9fa1 !important;
    color: #fff;
}



.header {
    width: 100%;
    display : block;
    position: fixed;
    top: 0;
    min-height: 60px; 
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    z-index: 9999;
}
.navbar {
  margin : 0;
  float : left;
}
.logo {
  float: left;
  height: 60px;
}

#navbar ul {
  list-style-type: none;
  margin: 10px auto 0 !important;
  display : inline-block;
  float : right;
 }

li {
  float: left;
  position : relative;
}

li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

li a:hover, .dropdown:hover .dropbtn {
    border-bottom:2px solid #0cacaf;
    color : #0cacaf;
    background-color : #fff;
    transition : all 0.3s;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    list-style-type: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    padding: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .main-content {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; 
  } */

  .jumbHead{
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.mdl-card__title-text {
    background-color: #21222238;
    padding: 0px 10px;
    border-radius: 10px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    -ms-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}

