.sppb-row-container {
    width: 1170px;
}

@media (min-width: 992px)
.sppb-row-container {
    width: 970px;
}
@media (min-width: 768px)
.sppb-row-container {
    width: 750px;
}
.sppb-row-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px)
.sppb-row-container {
    width: 1170px;
}
@media (min-width: 992px)
.sppb-row-container {
    width: 970px;
}
@media (min-width: 768px)
.sppb-row-container {
    width: 750px;
}
.sppb-row-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:hover, .mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:focus {
    background-color: #fff;
    color: #4c4c4c;
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.sppb-btn.sppb-btn-primary, .sppb-btn.btn-primary, .btn.sppb-btn-primary, .btn.btn-primary {
    background: transparent;
    border: 2px solid #fff;
    line-height: 1;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: none;
    border-radius: 5px;
}

.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-title {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
}

.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-time, .view-splms-courses .splms-courses-list .splms-course .splms-course-info .mod-splms-course-time, .view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-time, .view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .mod-splms-course-time, .view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-time, .view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .mod-splms-course-time, .view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-time, .view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .mod-splms-course-time, .mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-time, .mod-splms-courses .splms-courses-list .splms-course .splms-course-info .mod-splms-course-time, .mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-time, .mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .mod-splms-course-time, .mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-time, .mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .mod-splms-course-time, .mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-time, .mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .mod-splms-course-time {
    font-weight: 600;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 30px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
}



.sp-page-builder .page-content #section-id-1491560181187 .sppb-section-title .sppb-title-heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

#sp-page-builder .sppb-section-title .sppb-title-heading {
    margin-top: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
    border: 0;
}
h2 {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: normal;
	    text-align: center;
    margin: 50px !important;
}














/**
 * @package     SP LMS
 *
 * @copyright   Copyright (C) 2010 - 2015 JoomShaper. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

 .splms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.splms *:before,
.splms *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.splms a:hover{
  text-decoration: none;
}
.splms input,
.splms button,
.splms select,
.splms textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.splms .checkbox, .splms .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.splms .checkbox label, .splms .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.splms .splms-item-content {
  margin: 18px 0;
}

.splms img {
  vertical-align: middle;
}
.splms .splms-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.splms .splms-img-rounded {
  border-radius: 6px;
}
.splms .splms-img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.splms .splms-img-circle {
  border-radius: 50%;
}
.splms .splms-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.splms-text-center{
  text-align: center;
}
@media (min-width: 768px) {
  .splms .splms-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .splms .splms-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .splms .splms-container {
    width: 1170px;
  }
}
.splms .splms-row {
  margin-left: -15px;
  margin-right: -15px;
}
.splms .splms-col-xs-1,
.splms .splms-col-xs-2,
.splms .splms-col-xs-3,
.splms .splms-col-xs-4,
.splms .splms-col-xs-5,
.splms .splms-col-xs-6,
.splms .splms-col-xs-7,
.splms .splms-col-xs-8,
.splms .splms-col-xs-9,
.splms .splms-col-xs-10,
.splms .splms-col-xs-11,
.splms .splms-col-xs-12 {
  float: left;
}
.splms .splms-col-xs-12 {
  width: 100%;
}
.splms .splms-col-xs-11 {
  width: 91.66666667%;
}
.splms .splms-col-xs-10 {
  width: 83.33333333%;
}
.splms .splms-col-xs-9 {
  width: 75%;
}
.splms .splms-col-xs-8 {
  width: 66.66666667%;
}
.splms .splms-col-xs-7 {
  width: 58.33333333%;
}
.splms .splms-col-xs-6 {
  width: 50%;
}
.splms .splms-col-xs-5 {
  width: 41.66666667%;
}
.splms .splms-col-xs-4 {
  width: 33.33333333%;
}
.splms .splms-col-xs-3 {
  width: 25%;
}
.splms .splms-col-xs-2 {
  width: 16.66666667%;
}
.splms .splms-col-xs-1 {
  width: 8.33333333%;
}
.splms .splms-col-xs-pull-12 {
  right: 100%;
}
.splms .splms-col-xs-pull-11 {
  right: 91.66666667%;
}
.splms .splms-col-xs-pull-10 {
  right: 83.33333333%;
}
.splms .splms-col-xs-pull-9 {
  right: 75%;
}
.splms .splms-col-xs-pull-8 {
  right: 66.66666667%;
}
.splms .splms-col-xs-pull-7 {
  right: 58.33333333%;
}
.splms .splms-col-xs-pull-6 {
  right: 50%;
}
.splms .splms-col-xs-pull-5 {
  right: 41.66666667%;
}
.splms .splms-col-xs-pull-4 {
  right: 33.33333333%;
}
.splms .splms-col-xs-pull-3 {
  right: 25%;
}
.splms .splms-col-xs-pull-2 {
  right: 16.66666667%;
}
.splms .splms-col-xs-pull-1 {
  right: 8.33333333%;
}
.splms .splms-col-xs-pull-0 {
  right: auto;
}
.splms .splms-col-xs-push-12 {
  left: 100%;
}
.splms .splms-col-xs-push-11 {
  left: 91.66666667%;
}
.splms .splms-col-xs-push-10 {
  left: 83.33333333%;
}
.splms .splms-col-xs-push-9 {
  left: 75%;
}
.splms .splms-col-xs-push-8 {
  left: 66.66666667%;
}
.splms .splms-col-xs-push-7 {
  left: 58.33333333%;
}
.splms .splms-col-xs-push-6 {
  left: 50%;
}
.splms .splms-col-xs-push-5 {
  left: 41.66666667%;
}
.splms .splms-col-xs-push-4 {
  left: 33.33333333%;
}
.splms .splms-col-xs-push-3 {
  left: 25%;
}
.splms .splms-col-xs-push-2 {
  left: 16.66666667%;
}
.splms .splms-col-xs-push-1 {
  left: 8.33333333%;
}
.splms .splms-col-xs-push-0 {
  left: auto;
}
.splms .splms-col-xs-offset-12 {
  margin-left: 100%;
}
.splms .splms-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.splms .splms-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.splms .splms-col-xs-offset-9 {
  margin-left: 75%;
}
.splms .splms-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.splms .splms-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.splms .splms-col-xs-offset-6 {
  margin-left: 50%;
}
.splms .splms-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.splms .splms-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.splms .splms-col-xs-offset-3 {
  margin-left: 25%;
}
.splms .splms-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.splms .splms-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.splms .splms-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .splms .splms-col-sm-1,
  .splms .splms-col-sm-2,
  .splms .splms-col-sm-3,
  .splms .splms-col-sm-4,
  .splms .splms-col-sm-5,
  .splms .splms-col-sm-6,
  .splms .splms-col-sm-7,
  .splms .splms-col-sm-8,
  .splms .splms-col-sm-9,
  .splms .splms-col-sm-10,
  .splms .splms-col-sm-11,
  .splms .splms-col-sm-12 {
    float: left;
  }
  .splms .splms-col-sm-12 {
    width: 100%;
  }
  .splms .splms-col-sm-11 {
    width: 91.66666667%;
  }
  .splms .splms-col-sm-10 {
    width: 83.33333333%;
  }
  .splms .splms-col-sm-9 {
    width: 75%;
  }
  .splms .splms-col-sm-8 {
    width: 66.66666667%;
  }
  .splms .splms-col-sm-7 {
    width: 58.33333333%;
  }
  .splms .splms-col-sm-6 {
    width: 50%;
  }
  .splms .splms-col-sm-5 {
    width: 41.66666667%;
  }
  .splms .splms-col-sm-4 {
    width: 33.33333333%;
  }
  .splms .splms-col-sm-3 {
    width: 25%;
  }
  .splms .splms-col-sm-2 {
    width: 16.66666667%;
  }
  .splms .splms-col-sm-1 {
    width: 8.33333333%;
  }
  .splms .splms-col-sm-pull-12 {
    right: 100%;
  }
  .splms .splms-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .splms .splms-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .splms .splms-col-sm-pull-9 {
    right: 75%;
  }
  .splms .splms-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .splms .splms-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .splms .splms-col-sm-pull-6 {
    right: 50%;
  }
  .splms .splms-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .splms .splms-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .splms .splms-col-sm-pull-3 {
    right: 25%;
  }
  .splms .splms-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .splms .splms-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .splms .splms-col-sm-pull-0 {
    right: auto;
  }
  .splms .splms-col-sm-push-12 {
    left: 100%;
  }
  .splms .splms-col-sm-push-11 {
    left: 91.66666667%;
  }
  .splms .splms-col-sm-push-10 {
    left: 83.33333333%;
  }
  .splms .splms-col-sm-push-9 {
    left: 75%;
  }
  .splms .splms-col-sm-push-8 {
    left: 66.66666667%;
  }
  .splms .splms-col-sm-push-7 {
    left: 58.33333333%;
  }
  .splms .splms-col-sm-push-6 {
    left: 50%;
  }
  .splms .splms-col-sm-push-5 {
    left: 41.66666667%;
  }
  .splms .splms-col-sm-push-4 {
    left: 33.33333333%;
  }
  .splms .splms-col-sm-push-3 {
    left: 25%;
  }
  .splms .splms-col-sm-push-2 {
    left: 16.66666667%;
  }
  .splms .splms-col-sm-push-1 {
    left: 8.33333333%;
  }
  .splms .splms-col-sm-push-0 {
    left: auto;
  }
  .splms .splms-col-sm-offset-12 {
    margin-left: 100%;
  }
  .splms .splms-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .splms .splms-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .splms .splms-col-sm-offset-9 {
    margin-left: 75%;
  }
  .splms .splms-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .splms .splms-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .splms .splms-col-sm-offset-6 {
    margin-left: 50%;
  }
  .splms .splms-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .splms .splms-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .splms .splms-col-sm-offset-3 {
    margin-left: 25%;
  }
  .splms .splms-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .splms .splms-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .splms .splms-col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .splms .splms-col-md-1,
  .splms .splms-col-md-2,
  .splms .splms-col-md-3,
  .splms .splms-col-md-4,
  .splms .splms-col-md-5,
  .splms .splms-col-md-6,
  .splms .splms-col-md-7,
  .splms .splms-col-md-8,
  .splms .splms-col-md-9,
  .splms .splms-col-md-10,
  .splms .splms-col-md-11,
  .splms .splms-col-md-12 {
    float: left;
  }
  .splms .splms-col-md-12 {
    width: 100%;
  }
  .splms .splms-col-md-11 {
    width: 91.66666667%;
  }
  .splms .splms-col-md-10 {
    width: 83.33333333%;
  }
  .splms .splms-col-md-9 {
    width: 75%;
  }
  .splms .splms-col-md-8 {
    width: 66.66666667%;
  }
  .splms .splms-col-md-7 {
    width: 58.33333333%;
  }
  .splms .splms-col-md-6 {
    width: 50%;
  }
  .splms .splms-col-md-5 {
    width: 41.66666667%;
  }
  .splms .splms-col-md-4 {
    width: 33.33333333%;
  }
  .splms .splms-col-md-3 {
    width: 25%;
  }
  .splms .splms-col-md-2 {
    width: 16.66666667%;
  }
  .splms .splms-col-md-1 {
    width: 8.33333333%;
  }
  .splms .splms-col-md-pull-12 {
    right: 100%;
  }
  .splms .splms-col-md-pull-11 {
    right: 91.66666667%;
  }
  .splms .splms-col-md-pull-10 {
    right: 83.33333333%;
  }
  .splms .splms-col-md-pull-9 {
    right: 75%;
  }
  .splms .splms-col-md-pull-8 {
    right: 66.66666667%;
  }
  .splms .splms-col-md-pull-7 {
    right: 58.33333333%;
  }
  .splms .splms-col-md-pull-6 {
    right: 50%;
  }
  .splms .splms-col-md-pull-5 {
    right: 41.66666667%;
  }
  .splms .splms-col-md-pull-4 {
    right: 33.33333333%;
  }
  .splms .splms-col-md-pull-3 {
    right: 25%;
  }
  .splms .splms-col-md-pull-2 {
    right: 16.66666667%;
  }
  .splms .splms-col-md-pull-1 {
    right: 8.33333333%;
  }
  .splms .splms-col-md-pull-0 {
    right: auto;
  }
  .splms .splms-col-md-push-12 {
    left: 100%;
  }
  .splms .splms-col-md-push-11 {
    left: 91.66666667%;
  }
  .splms .splms-col-md-push-10 {
    left: 83.33333333%;
  }
  .splms .splms-col-md-push-9 {
    left: 75%;
  }

  .splms .splms-col-md-push-8 {
    left: 66.66666667%;
  }
  .splms .splms-col-md-push-7 {
    left: 58.33333333%;
  }
  .splms .splms-col-md-push-6 {
    left: 50%;
  }
  .splms .splms-col-md-push-5 {
    left: 41.66666667%;
  }
  .splms .splms-col-md-push-4 {
    left: 33.33333333%;
  }

  .splms .splms-col-md-push-3 {
    left: 25%;
  }
  .splms .splms-col-md-push-2 {
    left: 16.66666667%;
  }
  .splms .splms-col-md-push-1 {
    left: 8.33333333%;
  }
  .splms .splms-col-md-push-0 {
    left: auto;
  }
  .splms .splms-col-md-offset-12 {
    margin-left: 100%;
  }
  .splms .splms-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .splms .splms-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .splms .splms-col-md-offset-9 {
    margin-left: 75%;
  }
  .splms .splms-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .splms .splms-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .splms .splms-col-md-offset-6 {
    margin-left: 50%;
  }
  .splms .splms-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .splms .splms-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .splms .splms-col-md-offset-3 {
    margin-left: 25%;
  }
  .splms .splms-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .splms .splms-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .splms .splms-col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .splms .splms-col-lg-1,
  .splms .splms-col-lg-2,
  .splms .splms-col-lg-3,
  .splms .splms-col-lg-4,
  .splms .splms-col-lg-5,
  .splms .splms-col-lg-6,
  .splms .splms-col-lg-7,
  .splms .splms-col-lg-8,
  .splms .splms-col-lg-9,
  .splms .splms-col-lg-10,
  .splms .splms-col-lg-11,
  .splms .splms-col-lg-12 {
    float: left;
  }
  .splms .splms-col-lg-12 {
    width: 100%;
  }
  .splms .splms-col-lg-11 {
    width: 91.66666667%;
  }
  .splms .splms-col-lg-10 {
    width: 83.33333333%;
  }
  .splms .splms-col-lg-9 {
    width: 75%;
  }
  .splms .splms-col-lg-8 {
    width: 66.66666667%;
  }
  .splms .splms-col-lg-7 {
    width: 58.33333333%;
  }
  .splms .splms-col-lg-6 {
    width: 50%;
  }
  .splms .splms-col-lg-5 {
    width: 41.66666667%;
  }
  .splms .splms-col-lg-4 {
    width: 33.33333333%;
  }
  .splms .splms-col-lg-3 {
    width: 25%;
  }
  .splms .splms-col-lg-2 {
    width: 16.66666667%;
  }
  .splms .splms-col-lg-1 {
    width: 8.33333333%;
  }
  .splms .splms-col-lg-pull-12 {
    right: 100%;
  }
  .splms .splms-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .splms .splms-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .splms .splms-col-lg-pull-9 {
    right: 75%;
  }
  .splms .splms-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .splms .splms-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .splms .splms-col-lg-pull-6 {
    right: 50%;
  }
  .splms .splms-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .splms .splms-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .splms .splms-col-lg-pull-3 {
    right: 25%;
  }
  .splms .splms-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .splms .splms-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .splms .splms-col-lg-pull-0 {
    right: auto;
  }
  .splms .splms-col-lg-push-12 {
    left: 100%;
  }
  .splms .splms-col-lg-push-11 {
    left: 91.66666667%;
  }
  .splms .splms-col-lg-push-10 {
    left: 83.33333333%;
  }
  .splms .splms-col-lg-push-9 {
    left: 75%;
  }
  .splms .splms-col-lg-push-8 {
    left: 66.66666667%;
  }
  .splms .splms-col-lg-push-7 {
    left: 58.33333333%;
  }
  .splms .splms-col-lg-push-6 {
    left: 50%;
  }
  .splms .splms-col-lg-push-5 {
    left: 41.66666667%;
  }
  .splms .splms-col-lg-push-4 {
    left: 33.33333333%;
  }
  .splms .splms-col-lg-push-3 {
    left: 25%;
  }
  .splms .splms-col-lg-push-2 {
    left: 16.66666667%;
  }
  .splms .splms-col-lg-push-1 {
    left: 8.33333333%;
  }
  .splms .splms-col-lg-push-0 {
    left: auto;
  }
  .splms .splms-col-lg-offset-12 {
    margin-left: 100%;
  }
  .splms .splms-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .splms .splms-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .splms .splms-col-lg-offset-9 {
    margin-left: 75%;
  }
  .splms .splms-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .splms .splms-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .splms .splms-col-lg-offset-6 {
    margin-left: 50%;
  }
  .splms .splms-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .splms .splms-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .splms .splms-col-lg-offset-3 {
    margin-left: 25%;
  }
  .splms .splms-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .splms .splms-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .splms .splms-col-lg-offset-0 {
    margin-left: 0%;
  }
}









.yoga-hero-section {
  position: relative;
}
.yoga-hero-section:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(137deg,#FF5757 0%,#764AFF 100%);
  background-image: -moz-linear-gradient(137deg,#FF5757 0%,#764AFF 100%);
  background-image: -o-linear-gradient(137deg,#FF5757 0%,#764AFF 100%);
  background-image: linear-gradient(137deg,#FF5757 0%,#764AFF 100%);
  opacity: .9;
}
.yoga-hero-section .sppb-addon.sppb-addon-cta .sppb-btn.sppb-btn-primary {
  margin-top: 55px;
}
.view-splms-courses .splms-courses-list .splms-row,
.mod-splms-courses .splms-courses-list .splms-row {
  margin: 0;
}
.view-splms-courses .splms-courses-list .splms-row [class*="splms-col-"],
.view-splms-courses .splms-courses-list .splms-row [class^="splms-col-"],
.mod-splms-courses .splms-courses-list .splms-row [class*="splms-col-"],
.mod-splms-courses .splms-courses-list .splms-row [class^="splms-col-"] {
  padding: 0;
}

.view-splms-courses .splms-courses-list .splms-course,
.view-splms-courses .splms-courses-list .mod-splms-course,
.mod-splms-courses .splms-courses-list .splms-course,
.mod-splms-courses .splms-courses-list .mod-splms-course {
  overflow: hidden;
  border: 0;
  margin: 7px 7px;
  position: relative;
}
.view-splms-courses .splms-courses-list .splms-course:before,
.view-splms-courses .splms-courses-list .mod-splms-course:before,
.mod-splms-courses .splms-courses-list .splms-course:before,
.mod-splms-courses .splms-courses-list .mod-splms-course:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(0deg,#009EFD 0%,#2AF598 100%);
  background-image: -moz-linear-gradient(0deg,#009EFD 0%,#2AF598 100%);
  background-image: -ms-linear-gradient(0deg,#009EFD 0%,#2AF598 100%);
  background-image: -o-linear-gradient(0deg,#009EFD 0%,#2AF598 100%);
  background-image: linear-gradient(0deg,#009EFD 0%,#2AF598 100%);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: .8;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap {
  position: absolute;
  text-align: center;
  width: 100%;
  display: table;
  top: auto;
  padding: 0;
  left: 0;
  bottom: -87px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-courses-title,
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-title,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-courses-title,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-title,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-courses-title,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-title,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-courses-title,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-title,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-courses-title,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-title,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-courses-title,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-title,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-courses-title,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-title,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-courses-title,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-title {
  margin: 0;
  font-weight: 500;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-courses-title a,
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-title a,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-courses-title a,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-title a,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-courses-title a,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-title a,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-courses-title a,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-title a,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-courses-title a,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-title a,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-courses-title a,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-title a,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-courses-title a,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-title a,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-courses-title a,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-title a {
  color: #fff;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-category,
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .mod-splms-course-cat,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-category,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .mod-splms-course-cat,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-category,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .mod-splms-course-cat,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-category,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .mod-splms-course-cat,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-category,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .mod-splms-course-cat,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-category,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .mod-splms-course-cat,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-category,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .mod-splms-course-cat,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-category,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .mod-splms-course-cat {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  margin-top: 8px;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .course-details-btn,
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-details-btn,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .course-details-btn,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-details-btn {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}

.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-time,
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .mod-splms-course-time,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-time,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .mod-splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .mod-splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .mod-splms-course-time {
  font-weight: 600;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 30px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}

.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-teachers,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-teachers,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-teachers,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-teachers,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-teachers,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-teachers,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-teachers,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-teachers {
  margin-top: 15px;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-teachers span,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-teachers span,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-teachers span,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-teachers span,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-course-teachers span,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-course-teachers span,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-course-teachers span,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-course-teachers span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.view-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-teacher-name,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-teacher-name,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-teacher-name,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-teacher-name,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .splms-teacher-name,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .splms-teacher-name,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .splms-teacher-name,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .splms-teacher-name {
  color: #fff;
  font-weight: 600;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .btn.btn-primary:hover,
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .btn.btn-primary:focus,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .btn.btn-primary:hover,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .btn.btn-primary:focus,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .btn.btn-primary:hover,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .btn.btn-primary:focus,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:hover,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:focus,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .btn.btn-primary:hover,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .btn.btn-primary:focus,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .btn.btn-primary:hover,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .btn.btn-primary:focus,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .btn.btn-primary:hover,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .btn.btn-primary:focus,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:hover,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:focus {
  background-color: #fff;
  color: #4c4c4c;
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.view-splms-courses .splms-courses-list .splms-course .splms-course-info .btn.btn-primary:after,
.view-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .btn.btn-primary:after,
.view-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .btn.btn-primary:after,
.view-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:after,
.mod-splms-courses .splms-courses-list .splms-course .splms-course-info .btn.btn-primary:after,
.mod-splms-courses .splms-courses-list .splms-course .mod-splms-content-wrap .btn.btn-primary:after,
.mod-splms-courses .splms-courses-list .mod-splms-course .splms-course-info .btn.btn-primary:after,
.mod-splms-courses .splms-courses-list .mod-splms-course .mod-splms-content-wrap .btn.btn-primary:after {
  -webkit-background-image: radial-gradient(circle,#ff629b 10%,transparent 10.01%);
  -moz-background-image: radial-gradient(circle,#ff629b 10%,transparent 10.01%);
  -o-background-image: radial-gradient(circle,#ff629b 10%,transparent 10.01%);
  background-image: radial-gradient(circle,#ff629b 10%,transparent 10.01%);
}
.view-splms-courses .splms-courses-list .splms-course:hover:before,
.view-splms-courses .splms-courses-list .mod-splms-course:hover:before,
.mod-splms-courses .splms-courses-list .splms-course:hover:before,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover:before {
  opacity: 1;
}
.view-splms-courses .splms-courses-list .splms-course:hover .splms-course-info,
.view-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap,
.mod-splms-courses .splms-courses-list .splms-course:hover .splms-course-info,
.mod-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap {
  bottom: 99px;
}
.view-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .splms-course-time,
.view-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .mod-splms-course-time,
.view-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .splms-course-time,
.view-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .mod-splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .mod-splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .splms-course-time,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .splms-course-time,
.mod-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .mod-splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .splms-course-time,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .mod-splms-course-time {
  visibility: visible;
  opacity: 1;
}
.view-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .course-details-btn,
.view-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .splms-course-details-btn,
.view-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .course-details-btn,
.view-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .splms-course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .splms-course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .course-details-btn,
.view-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course:hover .splms-course-info .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .course-details-btn,
.mod-splms-courses .splms-courses-list .splms-course:hover .mod-splms-content-wrap .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .splms-course-info .splms-course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .course-details-btn,
.mod-splms-courses .splms-courses-list .mod-splms-course:hover .mod-splms-content-wrap .splms-course-details-btn {
  visibility: visible;
  opacity: 1;
}
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(2) .splms-course:before,
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(2) .mod-splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(2) .splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(2) .mod-splms-course:before {
  background-image: -webkit-linear-gradient(0deg,#F43B47 0%,#453A94 100%);
  background-image: -ms-linear-gradient(0deg,#F43B47 0%,#453A94 100%);
  background-image: -o-linear-gradient(0deg,#F43B47 0%,#453A94 100%);
  background-image: -moz-linear-gradient(0deg,#F43B47 0%,#453A94 100%);
  background-image: linear-gradient(0deg,#F43B47 0%,#453A94 100%);
}
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(3) .splms-course:before,
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(3) .mod-splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(3) .splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(3) .mod-splms-course:before {
  background-image: -webkit-linear-gradient(-19deg,#21D4FD 0%,#B721FF 100%);
  background-image: -ms-linear-gradient(-19deg,#21D4FD 0%,#B721FF 100%);
  background-image: -o-linear-gradient(-19deg,#21D4FD 0%,#B721FF 100%);
  background-image: -moz-linear-gradient(-19deg,#21D4FD 0%,#B721FF 100%);
  background-image: linear-gradient(-19deg,#21D4FD 0%,#B721FF 100%);
}
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(4) .splms-course:before,
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(4) .mod-splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(4) .splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(4) .mod-splms-course:before {
  background-image: -webkit-linear-gradient(225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%);
  background-image: -ms-linear-gradient(225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%);
  background-image: -o-linear-gradient(225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%);
  background-image: -moz-linear-gradient(225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%);
  background-image: linear-gradient(225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%);
}
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(5) .splms-course:before,
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(5) .mod-splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(5) .splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(5) .mod-splms-course:before {
  background-image: -webkit-linear-gradient(198deg,#FF9944 0%,#FC6076 100%);
  background-image: -ms-linear-gradient(198deg,#FF9944 0%,#FC6076 100%);
  background-image: -o-linear-gradient(198deg,#FF9944 0%,#FC6076 100%);
  background-image: -moz-linear-gradient(198deg,#FF9944 0%,#FC6076 100%);
  background-image: linear-gradient(198deg,#FF9944 0%,#FC6076 100%);
}
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(6) .splms-course:before,
.view-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(6) .mod-splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(6) .splms-course:before,
.mod-splms-courses .splms-courses-list .splms-col-sm-4:nth-child(6) .mod-splms-course:before {
  background-image: -webkit-linear-gradient(-90deg,#56317A 0%,#3D99BE 69%,#3AB5B0 100%);
  background-image: -ms-linear-gradient(-90deg,#56317A 0%,#3D99BE 69%,#3AB5B0 100%);
  background-image: -o-linear-gradient(-90deg,#56317A 0%,#3D99BE 69%,#3AB5B0 100%);
  background-image: -moz-linear-gradient(-90deg,#56317A 0%,#3D99BE 69%,#3AB5B0 100%);
  background-image: linear-gradient(-90deg,#56317A 0%,#3D99BE 69%,#3AB5B0 100%);
}